.tabs-md .tabbar {
  background: $white;
}

.content {
  background: $alabaster;
}

* {
    font-family: "proxima-nova";
}

// –––– Texts

.primary-text {
  color: $primary;
}


// –––– Toolbar
.toolbar-title {
  font-weight: 700;
}

.tiny-title {
  font-size: 12px;
  font-weight: 600;
  color: $dusty-gray;
  margin: 0 0 4px;
}

// –––– Card

.card {
  background: $white;
  box-shadow: 1px 1px 4px rgba(0,0,0,0.1);
  border-radius: 2px;
  //padding: $spacer $spacer * 1.5;
  & + .card {
    margin-top: 8px;
  }
}

.list .card{
  padding: 0;
  margin-bottom: 8px;
}

.item-inner .card__text, .card__text {
  color: $silver;
  font-size: 12px;
  padding: 0;
  margin: 0;
  font-weight: 500;
}

.item-inner .card__title, .card__title {
  font-size: 18px;
  font-weight: 700;
  padding: 0;
  margin: 0;
  color: $tundora;
}

.card__number{
  height: 50px;
  max-width: 50px;
  background: $primary;
  color: $white;
  font-size: 23px;
  text-align: center;
  line-height: 50px;
}



.card__name{
  margin-left: 8px;
}

.score .points{
  max-width: 30px;
}

.score .sets{
  max-width: 50px;
}

.scoreTitle .points{
  max-width: 44px;
}



.tiny-tabs .tab-button {
  min-height: 4.6rem;
}

.subtitle-tiny {
  display: block;
  color: #ffffffb3;
  font-size: 12px;
}

.no-margin .label-md{
  margin: 0;
}


.item-no-margin.login-container__input {
  margin: 0;
  padding: 0;
  .card__number {
    color: #fff;
    margin: 0;
  }
  .card__number + .select, .card__number + ion-label {
    padding-left: 16px !important;
  }
}

.label-no-margin {
  margin: 0;
}

.card__number.card__number--double {
  height: 92px;
  line-height: 92px;
}

.label-fullsized {
  padding: 0;
  margin: 0;
  height: 50px;
  line-height: 50px;
  ion-select {
    padding: 0;
    background: #F7F7F7;
    max-width: 100%;
  }
}
