.tabs-md .tabbar {
  background: $white;
}

.content {
  background: $alabaster;
}

* {
    font-family: "proxima-nova";
}

// –––– Texts

.primary-text {
  color: $primary;
}


// –––– Toolbar
.toolbar-title {
  font-weight: 700;
}

.tiny-title {
  font-size: 12px;
  font-weight: 600;
  color: $dusty-gray;
  margin: 0 0 4px;
}

// –––– Card

.card {
  background: $white;
  box-shadow: 1px 1px 4px rgba(0,0,0,0.1);
  border-radius: 2px; 
  padding: $spacer $spacer * 1.5;
  & + .card {
    margin-top: 8px;
  }
}

.list .card{
  padding: 0;
}

.item-inner .card__text, .card__text {
  color: $silver;
  font-size: 12px;
  padding: 0;
  margin: 0;
  font-weight: 500;
}

.item-inner .card__title, .card__title {
  font-size: 18px;
  font-weight: 700;
  padding: 0;
  margin: 0;
  color: $tundora;
}

.tiny-tabs .tab-button {
  min-height: 4.6rem;
}

.subtitle-tiny {
  display: block;
  color: #ffffffb3;
  font-size: 12px;
}
